{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/register.css') }}">
{% endblock %}

{% block body %}
    
    {% block header %}
    {% endblock %}

    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <div class="d-flex flex-column justify-content-center align-items-center" style="width: 100vw; height: 100vh;">
        <img src="{{ asset('images/logo/logo.png') }}" alt="logo" class="logo mb-4">
        <section class="login-box">
        <h2 class="text-white">Regístrate</h2>

            {{ form_start(registrationForm, {'attr': {'novalidate':'novalidate'}}) }}
                <div class="mb-3 bg-white rounded px-2">
            
                    {{ form_label(registrationForm.nombre, 'Nombre', { 'label_attr': {'class': 'form_label small_text'}}) }}
                    {{ form_widget(registrationForm.nombre, { 'label': false, 'attr': {'class': 'form-control border-0 p-0'}}) }}
                
                    {% if form_errors(registrationForm.nombre) %}
                    <div class="alert alert-danger rounded px-2">{{ form_errors(registrationForm.nombre) }}</div>
                    {% endif %}
                </div>
                
                <div class="mb-3 bg-white rounded px-2">
                    
                    {{ form_label(registrationForm.apellidos, 'Apellidos', { 'label_attr': {'class': 'form_label small_text'}}) }}
                    {{ form_widget(registrationForm.apellidos, { 'label': false, 'attr': {'class': 'form-control border-0 p-0'}}) }}

                    {% if form_errors(registrationForm.apellidos) %}
                    <div class="alert alert-danger rounded px-2">{{ form_errors(registrationForm.apellidos) }}</div>
                    {% endif %}
                </div>

                <div class="mb-3 bg-white rounded px-2">
                    
                    {{ form_label(registrationForm.fnac, 'Fecha de nacimiento', { 'label_attr': {'class': 'form_label small_text'}}) }}
                    {{ form_widget(registrationForm.fnac, { 'label': false, 'attr': {'class': 'form-control border-0 p-0'}}) }}
                    
                    {% if form_errors(registrationForm.fnac) %}
                    <div class="alert alert-danger rounded px-2">{{ form_errors(registrationForm.fnac) }}</div>
                    {% endif %}
                </div>

                <div class="mb-3 bg-white rounded px-2">
                    
                    {{ form_label(registrationForm.email, 'Email', { 'label_attr': {'class': 'form_label small_text'}}) }}
                    {{ form_widget(registrationForm.email, { 'label': false, 'attr': {'class': 'form-control border-0 p-0'}}) }}
                    
                    {% if form_errors(registrationForm.email) %}
                    <div class="alert alert-danger rounded px-2">{{ form_errors(registrationForm.email) }}</div>
                    {% endif %}
                </div>

                <div class="mb-3 bg-white rounded px-2">
                    
                    {{ form_label(registrationForm.plainPassword.first, 'Contraseña', { 'label_attr': {'class': 'form_label small_text'}}) }}
                    {{ form_widget(registrationForm.plainPassword.first, { 'label': false, 'attr': {'class': 'form-control border-0 p-0'}}) }}
                    
                    {% if form_errors(registrationForm.plainPassword.first) %}
                    <div class="alert alert-danger rounded px-2">{{ form_errors(registrationForm.plainPassword.first) }}</div>
                    {% endif %}
                </div>

                <div class="mb-3 bg-white rounded px-2">
                    
                    {{ form_label(registrationForm.plainPassword.second, 'Confirmar contraseña', { 'label_attr': {'class': 'form_label small_text'}}) }}
                    {{ form_widget(registrationForm.plainPassword.second, { 'label': false, 'attr': {'class': 'form-control border-0 p-0'}}) }}
                    
                    {% if form_errors(registrationForm.plainPassword.second) %}
                    <div class="alert alert-danger rounded px-2">{{ form_errors(registrationForm.plainPassword.second) }}</div>
                    {% endif %}
                </div>
                
                <div class="checkbox mb-3 text-white">
                    {{ form_widget(registrationForm.agreeTerms) }}
                    {{ form_label(registrationForm.agreeTerms, 'Acepto los términos y condiciones', { 'label_attr': {'class': 'text-white'} }) }}
                </div>

                <input type="hidden" name="_csrf_token"
                value="{{ csrf_token('authenticate') }}"
                >

                <button type="submit" class="btn btn-danger mt-3" style="width: 100%;">Register</button>

            {{ form_end(registrationForm) }}
                <div class="text-center mt-3">
                    <a href="{{ path('app_login') }}" class="text-white small-text">¿Ya tienes cuenta? Inicia sesión</a>
                </div>
        </section>
    </div>

{% endblock %}