<nav class="navbar navbar-expand-lg netflix-navbar netflix-padding-left netflix-padding-right">
    <div class="container-fluid">
        <div class="netflix-row">
            <div class="left d-flex align-items-center">
                <a class="navbar-brand" href="./index.php">
                    <img src="{{ asset('images/logo/logo.png') }}" alt="Logo">
                </a>
                <div class="netflix-nav">
                    <section>
                        <button><a href="{{ path('app_home') }}">Home</a></button>
                        <button><a href="./peliculas.php">Peliculas</a></button>
                        <button><a href="./series.php">Series</a></button>
                    </section>
                </div>
            </div>
            {# <div class="left d-flex align-items-center">
                <div class="dropdown netflix-dropdown-box">
                    <button class="dropdown-toggle netflix-dropdown" type="button"
                        id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-size: unset !important;">
                        <img src="images/avatar/{{app.user.avatar}}.png" style="width: 40px; border-radius: 5px;">
                        <span class="text-white m-1">{{app.user.nombre}}</span>

                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <div class="dropdown-header">
                            <span class="text-white m-1 left">{{app.user.nombre}}</span>
                            <img src="images/avatar/{{app.user.avatar}}.png" class="right" style="width: 60px; border-radius: 5px;">
                        </div>
                        <a class="dropdown-item" href="{{ path('app_profile') }}">Perfil</a>
                        {% if is_granted('ROLE_ADMIN') %}
                        <a class="dropdown-item" href="{{ path('admin') }}">Admin Dashboard</a>
                        {% endif %}
                        <a class="dropdown-item" href="{{ path('app_logout') }}">Cerrar sesión</a>
                    </div>
                </div>
            </div> #}
            
        </div>
    </div>
</nav>