{% if avatar == null %} {% set avatar = asset('images/avatar/default.png') %} {%
endif %}

<nav
	class="navbar navbar-expand-lg netflix-navbar netflix-padding-left netflix-padding-right ea-dark-scheme"
>
	<div class="container-fluid">
		<button
			class="navbar-toggler"
			type="button"
			data-bs-toggle="collapse"
			data-bs-target="#navbarNav"
			aria-controls="navbarNav"
			aria-expanded="false"
			aria-label="Toggle navigation"
		>
			<span class="navbar-toggler-icon"></span>
		</button>

		<a class="navbar-brand" href="{{ path('app_home') }}">
			<img src="{{ asset('images/logo/logo.png') }}" alt="Logo" />
		</a>

		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav mr-auto text-white">
				<li class="nav-item">
					<a class="nav-link" href="{{ path('app_home') }}">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="./peliculas.php">Peliculas</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="./series.php">Series</a>
				</li>
			</ul>
		</div>

		<div class="navbar-custom-menu" id="user_menu_desktop">
			<div class="dropdown user-menu-wrapper">
				<button
					class="user-details"
					type="button"
					data-bs-toggle="dropdown"
					data-bs-offset="0,5"
					aria-expanded="false"
				>
					<img class="user-avatar" src="{{ avatar }}" />
					<span class="user-name">{{ app.user.email }}</span>
				</button>
				<ul class="dropdown-menu dropdown-menu-end">
					<li class="dropdown-user-details">
						<div>
							<img class="user-avatar" src="{{ avatar }}" />
						</div>
						<div>
							<span class="user-label">Has iniciado sesi贸n con</span>
							<span class="user-name">{{ app.user.email }}</span>
						</div>
					</li>
					<li>
						<div>
							<span class="user-label">Nombre</span>
						</div>
						<div>
							<span class="text-white fs-6 fw-bold">{{ app.user.nombre }}</span>
						</div>
						<div>
							<span class="user-label">Apellidos</span>
						</div>
						<div>
							<span class="text-white fs-6 fw-bold">{{
								app.user.apellidos
							}}</span>
						</div>
					</li>
					<li>
						<hr class="dropdown-divider" />
					</li>
					<li>
						{% if is_granted('ROLE_ADMIN') %}
						<a
							href="{{ path('admin') }}"
							class="dropdown-item user-action"
							target="_self"
							rel=""
							referrerpolicy="origin-when-cross-origin"
						>
							<i class="fa-fw fa fa-dashboard"></i>Admin Dashboard
						</a>
						{% endif %}
						<a
							href="{{ path('app_logout') }}"
							class="dropdown-item user-action"
							target="_self"
							rel=""
							referrerpolicy="origin-when-cross-origin"
						>
							<i class="fa fa-fw fa-sign-out"></i>Cerrar sesi贸n
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="dropdown user-menu-wrapper ms-auto" id="user_menu_mobile">
		<button
			class="user-details"
			type="button"
			data-bs-toggle="dropdown"
			data-bs-offset="0,5"
			aria-expanded="false"
		>
			<img class="user-avatar" src="{{ avatar }}" />
		</button>

		<ul class="dropdown-menu dropdown-menu-end">
			<li class="dropdown-user-details">
				<div>
					<img class="user-avatar" src="{{ avatar }}" />
				</div>
				<div>
					<span class="user-label">Has iniciado sesi贸n con</span>
					<span class="user-name">{{ app.user.email }}</span>
				</div>
			</li>
			<li>
				<div>
					<span class="user-label">Nombre</span>
				</div>
				<div>
					<span class="text-white fs-6 fw-bold">{{ app.user.nombre }}</span>
				</div>
				<div>
					<span class="user-label">Apellidos</span>
				</div>
				<div>
					<span class="text-white fs-6 fw-bold">{{ app.user.apellidos }}</span>
				</div>
			</li>
			<li>
				<hr class="dropdown-divider" />
			</li>
			<li>
				{% if is_granted('ROLE_ADMIN') %}
				<a
					href="{{ path('admin') }}"
					class="dropdown-item user-action"
					target="_self"
					rel=""
					referrerpolicy="origin-when-cross-origin"
				>
					<i class="fa-fw fa fa-dashboard"></i>Admin Dashboard
				</a>
				{% endif %}
				<a
					href="{{ path('app_logout') }}"
					class="dropdown-item user-action"
					target="_self"
					rel=""
					referrerpolicy="origin-when-cross-origin"
				>
					<i class="fa fa-fw fa-sign-out"></i>Cerrar sesi贸n
				</a>
			</li>
		</ul>
	</div>
</nav>
